@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --font-family: 'Public Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
body,
html {
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--grayishBlue);
    min-height: 100vh;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.header__menu-icon{
  height: 1.5rem;
  width: 1.5rem;  
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__menu-icon.active{
    background-image: url(../images/icon-close.svg);
    height: 1rem;
    width: 1rem;
}

.header__nav{
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
    left: 0;
    top: 4rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.363);
    
}
.header__lista{
   margin: 1rem auto 0 auto;
    padding: 2rem 0;
    width: 90%;
    background-color: white;
    border-radius: 8px;
}
.header__item{
    margin-bottom: 1rem;
}
.header__item:last-child{
    margin-bottom: 0;
}
.header__link{
    text-decoration: none;
    color: var(--darkBlue);
}
.banner{
    text-align: center;
    height: 100vh;
}
.banner__div{
    background-image:url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
    background-size: cover, cover;
    background-position: 0% 160%, 0% 100%;
    background-repeat: no-repeat;
    height: 100vw;
}
.banner__titulo{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--darkBlue);

    line-height: 1.2;
    margin-bottom: 1rem;
}
.banner__descricao{

    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.botao{
    
    border: none;
    font-size: 18px;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--White);
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));

 
}
.descricao{
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--VeryLightGray);
}
.descricao__titulo{
    font-size: 2rem;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
    line-height: 1.2;
}
.descricao__subTitulo{
    line-height: 1.5;
  
    letter-spacing: -1px;
}
.descricao__card{
    padding-top: 2rem;
}
.descricao__imagem{
    display: inline-block;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.online{
    background-image: url(../images/icon-online.svg);
}
.budgeting{
    background-image: url(../images/icon-budgeting.svg);
}
.onboard{
    background-image: url(../images/icon-onboarding.svg);
}
.api{
    background-image: url(../images/icon-api.svg);
}
.descricao__titulo{
    color: var(--darkBlue);
    font-weight: 400;
    font-size: 1.33rem;
    margin-bottom: 1rem;
}
.descricao__paragrafo{
    line-height: 1.5;
    letter-spacing: -1px;
}
.lastArticles{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--LightGrayishBlue);
}
.lastArticles__titulo{
    font-size: 2rem;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
    line-height: 1.2;
}
.lastArticles__card{
   background-color: var(--White);
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    border-radius: 8px;
}
.info-container{
    padding: 1.5rem 1rem 3rem 1rem;
}
.lastArticles__autor{
    display: inline-block;
    font-size: 14px;
    margin: 1rem 0;
}
.lastArticles__titulo-card{
    font-size: 20px;
    font-weight: 400;
    color: var(--darkBlue);
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 1rem;

}
.lastArticles__img{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0;
}
.confetti{
    background-image: url(../images/image-confetti.jpg);
}
.plane{
    background-image: url(../images/image-plane.jpg);
}
.restaurant{
    background-image: url(../images/image-restaurant.jpg);
}
.currency{
    background-image: url(../images/image-currency.jpg);
}
footer{
    background-color: var(--darkBlue);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.lista__links{
    text-align: center;
}
.item{
    margin-bottom: 1rem;
}
.item:last-child{
    margin-bottom: 0;
}
.link{

    text-decoration: none;
    color: var(--White);
    font-weight: 400;
}
.redes-sociais__icon{
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.facebook{
    background-image: url(../images/icon-facebook.svg);
}
.twitter{
    background-image: url(../images/icon-twitter.svg);
}
.pinterest{
    background-image: url(../images/icon-pinterest.svg);
}
.instagram{
    background-image: url(../images/icon-instagram.svg);
}
.youtube{
    background-image: url(../images/icon-youtube.svg);
}
.footer__botao{
    margin: 0;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.active{
    display: initial;
}